.container-login {
  display: flex;
  margin-top: 10%;
}

.container-login .login-area {
  display: flex;
  flex-flow: column wrap;
}

.container-login .login-area .login-header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  flex-direction: center;
}
