.bigger-container{
    display: flex;
    flex-direction: row-reverse;
}

.bigger-container div img{
    height: 500px;
}

.link{
    text-decoration: none;
}

.bigger-content{
    flex-grow: 2;
    padding: 43px 201px 60px 70px;
}

.bigger-content h2{
    padding-bottom: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #000000;
}

.bigger-content h2:hover, .bigger-content h2:focus{
    color: #389AF7; 
}

.bigger-content p{
    padding-bottom: 31px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #718096;
}

.bigger-content time{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}