.container-dashboard {
  display: flex;
  flex: 1;
}

.container-dashboard .container-drawer {
  background: #fff;
  width: 240px;
  position: static;
  transition: width 0.7s;
  display: flex;
}

.container-dashboard .container-drawer ul {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 10%;
}

.container-dashboard .container-drawer ul li {
  list-style: none;
}
.container-dashboard .container-drawer ul li button {
  display: flex;
  flex-flow: row wrap;
  text-decoration: none;
  border: 1px solid #3861f7;
  border-radius: 5px;
  padding: 10px;
  color: #000;
  transition-duration: 400ms;
  transition-timing-function: ease-in;
  background: #fff;
}

.container-dashboard .container-drawer ul li button:hover {
  background-color: #3861f7;
  color: #fff;
}

.container-dashboard .container-main {
  flex: 1;
  background: #e3e3e5;
}

.container-dashboard .container-main .container-main-first-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5%;
}

.container-dashboard .container-main .container-main-second-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}
