.grid{
    display: flex;
    justify-content: space-between;}

.cells{
    width: 325px;
    height: 382px;

    display: flex;
    flex-direction: column;

    background-color:  #e8e9ee;
    border-radius: 5px;

    position: relative;
}

.cells img{
    width: 325px;
    height: 179px;
}

.cells time{
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;

    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #718096;
}

.content{
    margin: 18px 25px 24px 17px;
    display: flex;
    flex-direction: column;
    column-fill: auto;
    align-content: space-between;
}

.content p{
    padding-top: 15px;
    padding-bottom: 22px;

    height: 46px;
}

.content time{
    position: absolute;
    bottom: 24px;
}