.post-container{
    display: flex;
    flex-direction: row-reverse;
}

.post-container div img{
    height: 243px;
}

.post-content{
    flex-grow: 2;
    padding: 61px 201px 60px 70px;
}

.post-content h2{
    padding-bottom: 15px;
}